.login{
    height: 92vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login .content{
    height: 22rem;
    width: 25rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;

    font-family: sans-serif;
    padding: 20px 0;
}
.login .content form{
    height: 14rem;
    width: 25rem;
    
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-direction: column;

    margin-left: 4rem;
}
.login .content form input{
    height: 2.5rem;
    width: 20rem;

    padding: 2px 10px;
    font-size: 16px;
    font-family: sans-serif;

    outline: 0;
    border: none;
    border-bottom: 1px solid blueviolet;

    margin-top: -10px;
}

.login .content form input:hover{
    transform: scale(1.1);
}

.login .content button{
    height: 2.5rem;   
    width: 5rem;

    font-size: 18px;
    font-family: sans-serif;

    background-color: transparent;
    border-radius: 5px;
    border-color: blue;
    margin-bottom: 10px;
    /* margin: 1rem; */
}

.login .content button:hover{
    cursor: pointer;
    border-color: deeppink;
    color: blue;

    transform: scale(1.1);
}

.login .content h5{
    height: 2rem;
    width: 24rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid red; */
}
.login .content h5 a{
    text-decoration: none;
    color: blue;

    margin-left: 5px;

}

.login .content h5 a:hover{
    color: deeppink;
    text-decoration: underline;

    transform: scale(1.1);
}