.head{
    height: 4rem;
    width: 16rem;

    display: flex;
    align-items: center;
    justify-content: center;
    /* Abs positioning makes it not take up vert space */
    position: absolute;
    top: 0;
    left: 0;

    transform-origin: 127px 127px;
    transform: rotate(270deg);

    border-bottom: 1px solid gray;
}

.head h1{
    /* text-align: center; */
    /* border: 1px solid red; */
}