.tail{
    font-family: sans-serif;
    padding: 10px;
}

.tail h4{
    color: blue;
    font-weight: 200;
}

.tail h4:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.2);
}