*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.footer{
    background-color: #010129;
    height: 35vh;

    padding-left: 1.5rem;
    padding-top: 1rem;

    display: flex;
    margin-top: 5rem;
}

.footer .section{
    padding: 1rem 2rem;
    color: gray;
}

.footer .section h4{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 13px;

    padding: 10px;
}

.footer .section ul{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;

    list-style: none;
    line-height: 1.3rem;
}

.footer .section ul li{
    padding: 1px;
}

.footer .section ul li a{
    color: white;
    text-decoration: none;

    padding: 10px;
}

.footer .section ul li a:hover{
    color: white;
    text-decoration: underline;

    padding: 10px;
}

.footer .part4{
    margin-right: 2rem;
}

.footer .part5 address{
    color: white;
    font-size: 11px;
    font-family: sans-serif;

    line-height: 1.1rem;
    padding-left: 0.8rem;
}

.footer .part6 address{
    color: white;
    font-size: 11px;
    font-family: sans-serif;

    line-height: 1.1rem;
    padding-left: 0.8rem;
}

.footer .part6 address a{
    text-decoration: none;
}

.footer hr{
    height: 20vh;
    border: none;
    border-left: 1px solid gray;

    
    position: relative;
    top: 1.5rem;
    right: -1%;
}