.item-List{
    height: 7rem;
    width: 7rem;

    /* border: 1px soitem-Listd red; */
}

.item-List .items{
    display: grid;
    justify-content: center;
}

.item-List .items img{
    height: 5rem;
    width: 5rem;

    text-align: center;
    border-radius: 5px;

    background-color: white;
}

.item-List .items h4{
    text-align: center;
    padding-top: 5px;

    font-family: sans-serif;
}

.item-List .items h4 a{
    text-decoration: none;
}

.item-List .items h4 a:hover{
    color: deeppink;
    text-decoration: underline;
}